<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">{{ 'Hi there' | translate }}!</h2>
    <p class="text-center">
      {{ 'This application uses the Current weather data API with access to live weather data for any location on Earth, including over 200,000 cities! Weather data comes from a variety of sources such as global and local weather models, satellites, radars, and an extensive network of weather stations' | translate }}.
      <a href="https://openweathermap.org/current" target="_blank">OpenWeatherMap</a>
    </p>
    <p class="text-center">
      {{ 'Internationalization of the application is implemented using the library' | translate }}
      <a href="http://www.ngx-translate.com/" target="_blank">ngx-translate</a>.
     </p>
    <h4 class="text-center">{{ 'Warning' | translate }}!</h4>
    <p class="text-center">
      {{ 'Weather forecasts are never 100% accurate. Observed meteorological conditions often contradict forecasts. It is strongly recommended that you do not rely on this site as your only source of meteorological information and consider your life experience and common sense when making decisions' | translate}}.
    </p>
  </div>
</div>
